body {
  background: linear-gradient(135deg, #f07d7d, #dbd2d2);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  padding: 2rem;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  animation: fadeInScale 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.search-bar {
  width: 10%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  display: block;
  transition: width 0.3s ease;
}

.search-bar:focus {
  width: 30%;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 20px;
}

.image-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-gallery img:hover {
  transform: scale(1.05);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal.active {
  display: flex;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffc5;
  color: #000;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 70%;
  max-height: 70%;
  overflow: auto;
  padding: 50px;
  overflow: hidden;
  animation: zoomIn 0.7s forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-content img {
  width: 30%;
  height: 80%;
  object-fit: cover;
  border-radius: 56px;
  margin-right: 20px;
  padding: 2rem;
}

.modal-content p {
  margin: 1rem;
  font-size: larger;
  font-weight: 600;
  font-family: 'Arial Narrow Bold', sans-serif;
}

.modal-content a {
  display: inline-block;
  margin: 1rem;
  background-color: #da3737;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-family: 'Arial Narrow Bold', sans-serif;
}

.modal-content a:hover {
  background-color: #ff0000;
}
.image-container {
  position: relative;
  overflow: hidden;
}

.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 14px;
  display: none;
}

.image-container:hover .image-info {
  display: block;
}
